body{
    background-color: #DE1D22;
    font-family: "Inter", sans-serif;
  }
h1, h2{
  text-align: center;
}
.section-1{
  background-color: #000000;
}
.section-4{
  background-color: #000000;
}
